.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 700;
}

.card .poster {
  transition: transform 0.1s ease-in-out;
}

.card:hover .poster {
  transform: scale(1.1);
  cursor: pointer;
}
