.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  height: 100%; 
  text-align: center;
  text-decoration: none;
}

.card p {
  width: 170px;
}

.card p:focus {
  width: 170px;
  text-decoration: none;
}

.title {
  font-weight: 700;
  text-decoration: none;
}

.card .poster {
  transition: transform 0.1s ease-in-out;
}

.card:hover .poster {
  transform: scale(1.05);
  cursor: pointer;
  border: 3px solid #c3e722;
}

.card .poster:focus {
  outline: 3px solid #c3e722;
  transform: scale(1.05);
}