.moviePosters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
  margin: 5px;
  }
  
  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }