.carousel {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.badge, h2 {
  color: #C3E722;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  font-size: x-large;
  font-weight: 600;
  margin-left: 50px;
}

@media (max-width: 464px) {
  .badge, h2 {
      display: flex;
      margin-left: 0;
      flex-direction: row;
      justify-content: center;
  }
}